
body {
    flex: 1;
}

header {
    display:flex;
    justify-content: center;
    background-color: green;
    max-width: 200rem
}

header > h1{
    color: white;
}

main {
    display: flex;
    justify-content: center;
    max-width: 200rem;
}

main > h2 {
    display: flex;
    text-align: end;
}

.wrapper {
    display: flex;
    align-items: center;
    max-width: 200rem;

}

